.cart-box {
  position: fixed;
  width: 90%;
  max-width: 330px;
  background: white;
  border-radius: 5px;
  bottom: 100px;
  right: 15px;
  max-height: 350px;
  background-color: white;
  height: 100%;
}

.cart-box .title h1 {
  text-align: left;
  font-size: 1.2em;
  position: relative;
  padding: 7px 0px 15px 20px;
  color: dimgrey;
  border-bottom: 1px solid #dedede;
}

.cart-box .content {
  position: relative;
  width: 90%;
  height: 210px;
  margin: auto;
  overflow-y: auto;
  font-weight: 300;
}

.cart-box .content h4 {
  font-weight: 400;
}

.cart-box .content img {
  position: relative;
  top: 4px;
  display: inline;
  cursor: pointer;
}

.cart-box .submit-order button {
  width: 100%;
  border: none;
  background: slategrey;
  padding: 21px 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: -2px;
  text-transform: uppercase;
}
.productId {
  display: none;
}

@media(max-width: 768px) {

}
