.orders {
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: auto;
  table-layout: fixed;
  background: transparent;
  color: white;
}

table caption {
  font-size: 1.5em;
  margin: 2em 0;
  color: white;
}

table tr {
  background: none;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border-left: 1px solid white;
}

table th {
  font-size: 1em;
  font-weight: 300;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
    width: 90%;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: .625em;
  }

  table th, table td {
    border-left: none;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
