.popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #3A5A8B;
  z-index: 999;
  display: flex;
  overflow: scroll;
  justify-content: center;
}

.popup_inner {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 60px 40px;
  background: white;
  border-radius: 10px;
}

.popup_inner h1 {
  color: black;
  text-align: center;
  font-size: 1.6em;
  margin: 20px auto;
  max-width: 300px;
}

.popup_inner form {
  width: 100%;
}

.popup_inner div:not(.closer) {
  width: 100%;
  margin-top: 30px;
}

.popup_inner form input {
  appearance: none;
  width: 85%;
  max-width: 300px;
  display: block;
  border: 1px solid #dedede;
  padding-left: 20px;
  height: 50px;
  outline: none;
  color: dimgray;
  border-radius: 4px;
  font-size: 0.9em;
  margin: auto;
}

.popup_inner form button {
  background: lightgoldenrodyellow;
  width: 90%;
  max-width: 320px;
  height: 50px;
  outline: none;
  color: dimgray;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  display: block;
}

.popup_inner .closer {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.overflow-auto {
  overflow: auto;
}

@media(max-width: 760px) {
  .popup_inner {
    padding: 40px 0;
  }
}
