.custom-submit {
  border: none;
  background: lightyellow;
  color: black;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  max-width: 500px;
  color: dimgrey;
  display: block;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 0.85em !important;
  text-transform: uppercase;
  margin: auto;
}

.custom-submit:hover {
  background: #e8e8d0;
}

@media(max-width: 768px) {
  .custom-submit {
    font-size: 0.7em !important;
  }
}
