.user-intro {
  text-align: center;
  color: #b3d1ff;
}

.user-intro .welcome {
  max-width: 100%;
}

.user-intro .welcome h2 {
  font-size: 1.7em;
}

.user-intro .product-description p {
  color: white;
  font-weight: 300;
  max-width: 768px;
  margin: auto;
  font-size: 1.13em;
  line-height: 37px;
}

.loading {
  position: relative;
  top: 5px;
  animation: loading-spin infinite 5s linear;
}

.loading-products {
  position: relative;
  top: 150px;
}

.welcome img {
  position: relative;
  top: 10px;
}

.products {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products .product {
  width: 25%;
  max-width: 440px;
  margin: 20px;
}

.products .product div {
  margin: 10px 0;
}

.products .product .product-top img {
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.products .product .product-bottom {
  height: fit-content;
}

.products .product .product-bottom button {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
  font-size: 0.73em;
  text-transform: uppercase;
}

.products .product .product-bottom .product-details {
  width: 100%;
  height: 55px;
  position: relative;
  color: white;
}

.products .product .product-bottom .product-details .left span {
  line-height: 24px;
}

.products .product .product-bottom .product-details .right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.products .product .product-bottom .product-details .right select {
  appearance: none;
  background: none;
  width: 70px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 7px;
  color: blanchedalmond;
  outline: none;
  text-align: center;
  text-align-last: center;
  text-align: center;
  margin: 0 5px;
}

.products .product .product-bottom .product-details .right select option {
  color: black;
}

.cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 200px;
  border: none;
  background: white;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.cart img {
  position: relative;
  top: 15px;
  left: 15px;
}

.id {
  display: none;
}

@media(max-width:768px) {
  .user-intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }

  .user-intro .product-description{
    margin: auto;
    width: 85%;
  }

  .user-intro .product-description p {
    font-size: 1em;
  }

  .user-intro .product-description h4 {
    line-height: 40px;
  }

  .products {
    flex-direction: column;
    justify-content: center;
  }

  .products .product {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
