.auth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-box {
  position: relative;
  width: 500px;
  max-width: 95%;
  padding: 60px 40px;
  background: white;
  border-radius: 10px;
}

.auth-box .signup-link {
  text-align: center;
  color: dimgrey;
  font-size: 0.73em;
  font-weight: 700;
  margin: auto;
  display: block;
  margin-top: 30px;
  width: fit-content;
  text-transform: uppercase;
}

.auth .back-link {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 0.93em;
  text-decoration: underline;
}

.auth-box form {
  text-align: center;
}

.auth-box form h1{
  color: black;
  font-size: 1.5em;
  margin-bottom: 50px;
  color: dimgray
}

.auth-box form div{
  width: 100%;
  display: block;
  margin: 8px 0;
}

.auth-box form input {
  width: 83%;
  appearance: none;
  max-width: 300px;
  border: 1px solid #dedede;
  padding-left: 20px;
  height: 50px;
  padding: 5px 0px 0px 20px;
  outline: none;
  color: dimgray;
  border-radius: 4px;
  font-size: 0.95em;
}

.auth-box form button {
  width: 88%;
  max-width: 320px;
  margin-top: 20px;
  font-size: 0.75em;
}

@media(max-width: 768px) {
  .auth {
    margin: auto;
    width:100%;
  }

  .auth .auth-box {
    padding: 30px 0 30px 0;
  }

  .auth-box form h1{
    margin-bottom: 50px;
  }
}
