html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #3A5A8B;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  height: 100%;
}

.App-logo {
  position: relative;
  left: 20px;
  top: 8px;
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  height: 6.2em;
}

.header-right {
  position: absolute;
  top: 40px;
  right: 20px;
}

.header-right .auth-div a {
  font-size: 1em;
  margin-left: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.86em;
  font-weight: 500;
}

.product-img {
  height: 500px;
  width: 500px;
  max-width: 100%;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 768px) {
  .App-logo {
    width: 56px;
  }

  .header-right .auth-div a {
    font-size: 0.8em;
  }
}
